.tilecolour-none {
    -fx-fill:#6160A9;
}

.tilecolour-black {
    -fx-fill:#000;
}

.tilecolour-white {
    -fx-fill:#F5FAFB;
}

.tileoutline-base {
    -fx-stroke-type:inside;
    -fx-stroke-width:3;
}

.tileoutline-base.tileoutline-0 {
    -fx-stroke:red;
}

.tileoutline-base.tileoutline-1 {
    -fx-stroke:blue;
}

.tileoutline-base.tileoutline-2 {
    -fx-stroke:yellow;
}

.tileoutline-base.tileoutline-3 {
    -fx-stroke:green;
}

.tileoutline-base.tileoutline-4 {
    -fx-stroke:magenta;
}

.tileoutline-base.tileoutline-5 {
    -fx-stroke:purple;
}

.tileoutline-base.tileoutline-6 {
    -fx-stroke:cyan;
}

.tileoutline-base.tileoutline-7 {
    -fx-stroke:gray;
}

.object{
    -fx-stroke : #0F496B;
    -fx-stroke-type:inside;
    -fx-stroke-width: 3;
}