.tilecolour-none {
    -fx-fill:gray;
    -fx-fill:#6160A9;
}

.tilecolour-black {
    -fx-fill:#191970;
    -fx-fill:#000;
}

.tilecolour-white {
    -fx-fill:#fff5ee;
    -fx-fill:#F5FAFB;
}

.object{
    -fx-stroke : #0F496B;
    -fx-stroke-type:inside;
    -fx-stroke-width: 3;
}