.tilecolour-none {
    -fx-fill:gray;
    -fx-fill:#6160A9;
}

.tilecolour-black {
    -fx-fill:#191970;
    -fx-fill:#000;
}

.tilecolour-white {
    -fx-fill:#fff5ee;
    -fx-fill:#F5FAFB;
}
/* TODO why is there two in each? */
.tilecolour-green {
    -fx-fill:#00ff00;
}