.turn-label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family : "Georgia";
}

.win-label{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family : "Georgia";
    -fx-background-color: #91D5FF;

}

.rectangle-colour{
    -fx-fill: #FFFF
}

.hbox-custom{
    -fx-background-radius: 5.0;
    -fx-background-color: #91D5FF;
    -fx-padding: 15;
}

.vbox{
    -fx-border-color: #000;
    -fx-border-width: 3px;
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-background-color:#9F99ED;
}

.custom-title{
    -fx-font-family : "Georgia";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.stratLabel{
    -fx-font-family : "Georgia";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.stratTwo{
    -fx-font-family : "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill:blue ;
}

.stratThree{
    -fx-font-family : "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill: green;
}

.stratFour{
    -fx-font-family : "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill:red ;
}

.stratFive{
    -fx-font-family : "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill: purple;
}

.stratSix{
    -fx-font-family : "Georgia";
    -fx-font-size: 14px;
    -fx-text-fill: deeppink;
}


.board-border{
    -fx-border-color: #000
}

.background-rectangle{
    -fx-background-color: #DDC9F1;
}

.coordinate-letter-style{
    -fx-font-family : Arial;
    -fx-font-weight: bolder;
	-fx-font-size: 10px;
    -fx-text-fill: #FFFF;
}

.coordinate-number-style{
    -fx-font-family : Arial;
    -fx-font-weight: bolder;
    -fx-font-size: 12px;
    -fx-text-fill: #000;
}

.turn-indicator-shape {
    -fx-stroke : #0F496B;
    -fx-stroke-type:inside;
    -fx-stroke-width: 3;
}

.tileoutline-base {
    -fx-stroke-type:inside;
    -fx-stroke-width:3;
}

.tileoutline-base.tileoutline-0 {
    -fx-stroke:red;
}

.tileoutline-base.tileoutline-1 {
    -fx-stroke:blue;
}

.tileoutline-base.tileoutline-2{
    -fx-stroke:green;
}

.tileoutline-base.tileoutline-3{
    -fx-stroke:purple;
}

.tileoutline-base.tileoutline-4{
    -fx-stroke: hotpink;
}

.tileoutline-base.tileoutline-5{
    -fx-stroke: cyan;
}